body {
	font-family: Segoe Ui;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#title {
	color: #006600;
	font-size: 60px;
	text-align: center;
	text-shadow: 0 0 10px #006600;
}

.card {
	cursor:pointer;
	width: 100px;
	height: 170px;
	border-style:solid;
	border-width:2px;
	border-color:red;
	background-color:white;
	font-size: 30px;
	text-align: center;
	color: #006600;
}

.container {
	padding:10px;
	border-style: solid;
	border-width: 3px;
	border-color: #006600;
	border-top-left-radius: 35px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 35px;
	box-shadow: 0 10px 0 #006600;
}

#copyright {
    position:absolute;
    bottom: -30px;
    padding-bottom:10px;
    padding-left: 2px;
    color:darkgray;
    font-size:15px;
    background-color: #2E2E1F;
    width: 150px;
    -transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
} 

#copyright:hover {
    bottom: 0px;
}
